{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block content %}
    <form method="post" action="/create">
        <!--Title and description-->
        <h2 class="header text-center p-4">Create your own recipes!</h2>
        <div class="row justify-content-center mb-4">
            <div class="col-md-6">
                <input type="text" class="form-control mx-auto w-auto input" placeholder="Recipe title" name="recipe_title" autofocus autocomplete="off" required>
                <p></p>
                <textarea class="form-control" rows="4" placeholder="Recipe description" name="recipe_description" autocomplete="off"></textarea>
            </div>
        </div>
        <!--Minutes, servings-->
        <div class="row justify-content-center">
            <table style= "width: 30%">
                <thead>
                    <th>Minutes</th>
                    <th>Servings</th>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text"class="form-control mx-auto w-auto input" placeholder="Cooking time" name="time" autocomplete="off" required></td>
                        <td><input type="text"class="form-control mx-auto w-auto input" placeholder="Servings" name="servings" autocomplete="off" required></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Tags-->
        <div class="mb-3 text-center">
            <label class="p-4" for="tags">Add your tags based on the diets</label>
            <p></p>
            {% for i in range(3) %}
            <select name="tags{{i}}" id="tags{{i}}">
                <option selected="true" disabled="disabled">Choose at least one tag</option>
                <option value="Soup">Soup</option>
                <option value="Meat">Meat</option>
                <option value="Fish">Fish</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Vegan">Vegan</option>
                <option value="Sweet">Sweet</option>
                <option value="Savory">Savory</option>
            </select>
            {% endfor %}
        </div>
        <p></p>
        <!--Ingredients-->
        <div class="row justify-content-center">
            <table id=ingredients_table style= "width: 70%">
                <thead>
                    <th>Amount</th>
                    <th>Unit</th>
                    <th>Ingredient name</th>
                </thead>
                <tbody>
                    {% for i in range(15) %}
                    <tr>
                        <td><input type="text"class="form-control mx-auto w-auto input" placeholder="Amount" name="amount{{i}}" autocomplete="off"></td>
                        <td><input type="text"class="form-control mx-auto w-auto input" placeholder="Unit" name="unit{{i}}" autocomplete="off"></td>
                        <td><input type="text"class="form-control mx-auto w-auto input" placeholder="Ingredient" name="name{{i}}" autocomplete="off"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p></p>
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <h4 class="mb-3 text-center">Instructions</h4>
                    <div class="list-group">
                        {% for i in range(10) %}
                        <div class="list-group-item">
                            <label class="form-label fw-bold">Step {{i + 1}}</label>
                            <textarea class="form-control" rows="2" placeholder="Describe step {{i + 1}}..." name="step{{i}}" autocomplete="off"></textarea>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <div class="mb-3 text-center">
            <button type="submit" class="form-control mx-auto w-auto btn">Create</button>
        </div>
    </form>
{% endblock %}