{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block content %}
    <form method ="post" action="/login">
        <h2>Log In</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password" name="password" required>
        
        <button type="submit">Log In</button>
    </form>
{% endblock %}