{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block content %}
    <form method ="post" action="/login">
        <h2 class="header text-center p-4">Log In</h2>
        <p></p>
        <div class="mb-3 text-center">
            <label for="username">Username:</label>
            <input type="text" id="username" class="form-control mx-auto w-auto input" placeholder="Username" name="username" autofocus autocomplete="off" >
        </div>
        <p></p>
        <div class="mb-3 text-center">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control mx-auto w-auto input" autocomplete="off" placeholder="Password" name="password" required>
        </div>
        <button type="submit" class="form-control mx-auto w-auto btn">Log In</button>
    </form>
{% endblock %}